<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/typeit@8.0.3/dist/index.umd.js"></script>
  <script src="https://cdn.rawgit.com/progers/pathseg/master/pathseg.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.35.4/tsparticles.min.js"></script>
  <title>Version 1</title>
</head>
<body>
    <div id="navbar">
      <a href=""></a>
      <a href="#home">Version 1</a>
      <a href="old/index.html">Version 2</a>
      <a href="#news">News</a>
      <a href="#team">Team</a>
      <a href="#aboutus">About Us</a>
  </div>
    <div id="bg"></div>
    <script type="text/javascript" src="bg.js"></script>
    <div id="onBg">
    <div id="target1"></div>
    <div id="tsparticles"></div>
    </div>
    <script type="module" src="typing.js"></script>
    <div id="container">
    <div id="testingArea">
        Showing {{ toggleb ? "Both" : "Left" }}, clicked {{counter}} times
        <input type="text" v-model="toggleb"/>
        <button v-on:click="togglebox(); upgrade()">hey</button>
        <button v-if="toggleb" v-on:click="upgrade">showing?</button>
        <span id="target3"></span>
        <c-tag1 />
    </div>
    <p style="background-color: white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati molestiae ipsam, nisi commodi incidunt officiis maiores labore pariatur accusamus doloribus porro eos laboriosam fuga qui repellat, ad distinctio praesentium voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo, nobis ullam distinctio unde cum aspernatur quam animi labore, sapiente iusto hic voluptatum perferendis debitis ipsam amet consequatur similique. Veritatis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequatur ipsa beatae architecto quos unde, illo quia, voluptatibus quis fuga quo odit eos. Sapiente autem temporibus corrupti facere hic. Vero!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A error exercitationem odio magni, blanditiis voluptas modi quos quam qui fugit. Ipsa eligendi odio ab, placeat ratione impedit quibusdam accusantium magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum asperiores ut quasi qui repellat error nesciunt voluptatum quidem repudiandae enim inventore placeat ex omnis fugiat explicabo incidunt provident, ab hic.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quasi aperiam quas at optio pariatur debitis doloremque sunt accusantium quis error ipsam autem consequuntur officia odit odio fugit unde maiores?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime iusto dolorem tenetur nulla deleniti, labore facere ad officia porro maiores dolor voluptas provident mollitia repellendus iste sint quia. Voluptate, libero?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illo asperiores voluptatibus quaerat cupiditate obcaecati quae. Temporibus odio maiores voluptatum corporis sint odit, dolorum, praesentium sit vel asperiores, repellat non!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto saepe cumque culpa dolores quisquam neque nesciunt quod adipisci, esse illum minima modi corrupti iste? Tempora, numquam rem. Perferendis, illo.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas blanditiis architecto labore perspiciatis facilis aut unde, incidunt alias sequi beatae velit quisquam et asperiores quo nemo magnam nulla repudiandae sunt.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium quia cum blanditiis. Odit eos similique, sapiente atque, error necessitatibus odio iste nostrum, sunt totam harum voluptatum quibusdam veniam quaerat explicabo.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci voluptate rem quaerat voluptates illum similique ut voluptatem aspernatur repudiandae consequatur, corporis dolores! Dolorem cumque, voluptatem sapiente animi corporis tempore praesentium!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi saepe tenetur rem iusto. Perspiciatis laboriosam porro deleniti quasi error, eum explicabo possimus ipsam quaerat dignissimos aut vero neque labore repudiandae.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis commodi, distinctio, dolores delectus dignissimos qui cupiditate laudantium adipisci ducimus enim aliquam saepe impedit perspiciatis omnis quisquam provident dolorum neque repellendus?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur qui magnam rem tempore aliquam error sint ducimus architecto itaque amet. Aperiam est consequatur nemo praesentium vitae expedita maiores similique sequi!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro libero ducimus id facere minima a sequi expedita dolores natus dolorem veritatis fuga quisquam, ratione consequuntur nemo, magnam blanditiis, at voluptatibus.
    </p>
</div>
</body>
<footer>Footer</footer>
<link rel="stylesheet" href="style.css">
<script>tsParticles.load('tsparticles', deer);</script>

<script>
$(document).ready(function() {
  $(window).bind('scroll', function() {
    var navHeight = $(window).height() - 30;
    if ($(window).scrollTop() > navHeight) {
      $('#navbar').addClass('fixed');
      $('#onBg').addClass("inBg");
    } else {
      $('#navbar').removeClass('fixed');
      $('#onBg').removeClass("inBg");
    }
  });
});
</script>
<script>
    let app=Vue.createApp({
        data: function() {
            return {
                bodytext: "bodytext",
                toggleb: true,
                counter: 0
            }
        },
        methods: {
            togglebox(){
                this.toggleb=!this.toggleb
            },
            upgrade(){
                this.counter+=1
            }
        }
    })
    app.component("c-tag1",{
        template: `template be working`
    })
    app.mount('#testingArea')
</script>
</html>
